canvas {
	margin: auto;
	cursor: none;
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}

body {overflow: hidden;
	margin: 0;
	/*width: 500px;*/
}